* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-landing-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

}
.logo{
    display: flex;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  color: #3b3b3b;
}
.logo-img{
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
    border-radius: 50%;
}
.login-button{
    background-color: #6b5b7a;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    font-size: large;
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    background-color: rgb(255, 255, 255);
    min-height: 80vh;

}
.page-text{
    max-width: 500px;
}

.page-text h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #6b5b7a;
    line-height: 1.3;
}
.page-text p{
    margin-top: 1rem;
    color: #6b5b7a;
    font-size: 1rem;

}
.start-btn{
    margin-top: 2rem;
    background-color: #6b5b7a;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    font-size: large;
}

.page-image img{
    max-width: 600px;
    height: auto;
    margin-right: 100px;

}

.featureSection {
    padding: 5rem 0;
}
  
.featureSection h2 {
font-size: 2.5rem;
margin-bottom: 6rem;
color:#6b5b7a;
}

.featureGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.featureCard {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.featureCard:hover {
    transform: translateY(-10px);
}

.featureIcon {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.featureCard h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #6b5b7a;
}

.featureCard p {
    color: #666666;
}
.text-center {
    text-align: center;
}

.featureContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}